body {
  background-image: url(../images/bg.jpg);
}
.bg-gradient__score {
  background: rgb(108, 117, 125);
  background: linear-gradient(
    0deg,
    rgba(108, 117, 125, 1) 0%,
    rgba(108, 117, 125, 0.8) 2%,
    rgba(44, 110, 253, 0.95) 50%,
    rgba(108, 117, 125, 0) 98%,
    rgba(108, 117, 125, 0) 100%
  );
  display: inline-block;
}

.score {
  font-size: 10rem;
  font-weight: bold;
  color: #fff;
}

.spans {
  width: 300px !important;
}
.spans span {
  text-align: center !important;
}

.team-logo-1 img {
  max-width: 280px !important;
}
.team-logo-2 img {
  max-width: 245px;
}
.gx-20 {
  --bs-gutter-x: 20rem;
}
@media (max-width: 768px) {
  .spans {
    width: 200px !important;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .gx-20 {
    --bs-gutter-x: 0;
  }
}

#team1table:hover {
  cursor: pointer;
}

#team2table:hover {
  cursor: pointer;
}
